Source: oslo.rootwrap
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all (>= 2.6.6-3~),
               python-pbr (>= 0.5.21),
               python-setuptools,
               python-sphinx,
               python3-all (>= 3.2),
               python3-pbr,
               python3-setuptools
Build-depends-Indep: iproute2,
                     python-coverage (>= 3.6),
                     python-eventlet (>= 0.16.1),
                     python-extras,
                     python-fixtures (>= 0.3.14),
                     python-hacking (>= 0.8.0),
                     python-mccabe,
                     python-mimeparse,
                     python-mock (>= 1.0),
                     python-oslosphinx (>= 2.2.0.0~a2),
                     python-oslotest (>= 1.2.0),
                     python-six (>= 1.9.0),
                     python-subunit (>= 0.0.18),
                     python-testscenarios (>= 0.4),
                     python-testtools (>= 0.9.32),
                     python3-extras,
                     python3-fixtures (>= 0.3.14),
                     python3-mccabe,
                     python3-mimeparse,
                     python3-mock (>= 1.0),
                     python3-oslotest (>= 1.2.0),
                     python3-six (>= 1.9.0),
                     python3-subunit (>= 0.0.18),
                     python3-testscenarios (>= 0.4),
                     python3-testtools (>= 0.9.34),
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18)
Build-Conflicts: python-oslo.config,
                 python-oslo.db,
                 python-oslo.i18n,
                 python-oslo.messaging,
                 python-oslo.rootwrap,
                 python-oslo.vmware,
                 python3-oslo.config,
                 python3-oslo.i18n
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/oslo.rootwrap.git
Vcs-Git: git://anonscm.debian.org/openstack/oslo.rootwrap.git
Homepage: https://launchpad.net/oslo

Package: python-oslo.rootwrap
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-six (>= 1.9.0), sudo, ${misc:Depends}, ${python:Depends}
Provides: python-oslo-rootwrap
Description: allows fine filtering of shell commands to run as root - Python 2.x
 The Oslo Rootwrap allows fine filtering of shell commands to run as root from
 OpenStack services.
 .
 Unlike other Oslo deliverables, it should not be used as a Python library, but
 called as a separate process through the oslo-rootwrap command.
 .
 This package provides the Python 2.x module.

Package: python3-oslo.rootwrap
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python3-six (>= 1.9.0), sudo, ${misc:Depends}, ${python3:Depends}
Provides: python3-oslo-rootwrap
Description: allows fine filtering of shell commands to run as root - Python 3.x
 The Oslo Rootwrap allows fine filtering of shell commands to run as root from
 OpenStack services.
 .
 Unlike other Oslo deliverables, it should not be used as a Python library, but
 called as a separate process through the oslo-rootwrap command.
 .
 This package provides the Python 3.x module.
