Source: oslo.rootwrap
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
               openstack-pkg-tools,
               python-all (>= 2.6.6-3~),
               python-pbr (>= 0.5.21),
               python-setuptools
Build-depends-Indep: python-coverage (>= 3.6),
                     python-extras,
                     python-fixtures (>= 0.3.14),
                     python-hacking (>= 0.8.0),
                     python-mccabe,
                     python-mimeparse,
                     python-mock (>= 1.0),
                     python-six (>= 1.4.1),
                     python-subunit,
                     python-testscenarios (>= 0.4),
                     python-testtools (>= 0.9.32),
                     subunit,
                     testrepository (>= 0.0.17)
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/oslo.rootwrap.git
Vcs-Git: git://anonscm.debian.org/openstack/oslo.rootwrap.git
Homepage: https://launchpad.net/oslo

Package: python-oslo.rootwrap
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: sudo, python-six (>= 1.4.1), ${misc:Depends}, ${python:Depends}
Description: allows fine filtering of shell commands to run as root
 The Oslo Rootwrap allows fine filtering of shell commands to run as root from
 OpenStack services.
 .
 Unlike other Oslo deliverables, it should not be used as a Python library, but
 called as a separate process through the oslo-rootwrap command.
