#!/usr/bin/make -f

UPSTREAM_GIT = git://github.com/openstack/oslo.rootwrap.git
-include /usr/share/openstack-pkg-tools/pkgos.make

export OSLO_PACKAGE_VERSION=$(VERSION)

%:
	dh $@ --buildsystem=python_distutils --with python2

ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
	PYTHONPATH=./oslo:. python setup.py testr --slowest || true
endif
